@font-face {
  font-family: "vazir-medium";
  src: url("@/assets/fonts/Vazir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "vazir-bold";
  src: url("@/assets/fonts/Vazir-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "vazir-light";
  src: url("@/assets/fonts/Vazir-Light.ttf") format("truetype");
}

@font-face {
  font-family: "vazir";
  src: url("@/assets/fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: "vazir-thin";
  src: url("@/assets/fonts/Vazir-Thin.ttf") format("truetype");
}
